<div class="card-body">
  <div class="row">
    <h1 class="col-11">Data 0</h1>
    <button type="button" class="btn btn-primary col-1">Primary</button>
  </div>

  <hr>
  <div class="row">
    <h2>Basic information</h2>
    <p>Some basic information about catalog item</p>
  </div>
  <hr>
  <div>
    <form [formGroup]="detailsForm">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="id" placeholder="Id">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="name" placeholder="Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Value</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="value" placeholder="Value">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Valiant</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="gridCheck1" formControlName="variant" [value]=0>
            <label class="form-check-label" for="gridCheck1">
              Variant 1
            </label>

          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="gridCheck2" formControlName="variant" [value]=1>
            <label class="form-check-label" for="gridCheck2">
              Variant 2
            </label>

          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="gridCheck3" formControlName="variant" [value]=2>
            <label class="form-check-label" for="gridCheck3">
              Variant 3
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary col-1">Update</button>
    </form>
  </div>
</div>
