/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


body{
    background: #fafaf9;
    color: #797982;
    font-weight: 400;
}

.bold{
    font-weight: bold;
}
.text-black{
    color: #000000;
}

.mt40{
    margin-top: 40px;
}
.p40{
    padding: 40px;
}
.box-shadow{
    box-shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;
}

.pagination-container{
    display: block;
    width: 100%;
    margin-top: 20px;
}
.pagination {
    display: flex;    
    justify-content: center;
}

.pagination > li {
  margin: 6px;
}
.page-item.active .page-link{
    color: #6366f1;
    background: transparent;
    border-color: transparent;
    border-top: 3px solid #6366f1;
}
.page-link,
.page-item.disabled .page-link,
.page-link:hover{
      border-color: transparent;
}
.fix-red{
    outline: 1px solid red;
}
a[aria-label="Next"]{
    position: absolute;
    right: 20px;
    border: 1px solid #d4d4d8;
    border-radius: 5px;
}
a[aria-label="Previous"]{
    position: absolute;
    left: 20px;
    border: 1px solid #d4d4d8;
    border-radius: 5px;
}