/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    background: #fafaf9;
    color: #797982;
    font-weight: 400;
}

// .bg-white{
//     background: #ffffff;
// }

.bold{
    font-weight: bold;
}
.text-black{
    color: #000000;
}
// .w10{
//     width: 10%!important;
// }
// .w20{
//     width: 20%!important;
// }
// .w60{
//     width: 60%!important;
// }
.mt40{
    margin-top: 40px;
}
.p40{
    padding: 40px;
}
.box-shadow{
    box-shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;
}


// .page-link:first-child:before {
//   content: "Read this: ";
// }

// .page-link span:after:not(:first-child) {
//   content: "";
// }

// .pagination li:first-child a::before{
//     content: "Previous";
//     justify-content: start;
//     display: flex;
    
// }
// .pagination li:first-child{
//       position: absolute;
//   left:20px;
// }
// .pagination li:last-child{
//     position: absolute;
//     right: 20px;
// }
// .pagination li:nth-child(2){
//  position: relative;
// outline: 1px solid orangered;
// }
// .pagination li:nth-last-child(2){
//    margin-right:30%;
// outline: 1px solid greenyellow;
// }

// .pagination li:last-child a::before{
//     content: "Next";
//     justify-content: end;
//     display: flex;
// }
.test{
    // display: flex;
    // justify-content: space-between;
    display: block;
    width: 100%;
}
.pagination {
    display: flex;    
    justify-content: center;
}

.pagination > li {
  margin: 6px;
}
// .active{
//     border-top: 3px solid #6366f1;
//     color: #6366f1;
//     background: transparent;
// }
// .page-item.active .page-link{
//     color: #6366f1;
//     background: transparent;
//     border-color: transparent;
//     border-top: 3px solid #6366f1;
// }
// .page-link,
// .page-item.disabled .page-link,
// .page-link:hover{
//       border-color: transparent;
// }
.fix-red{
    outline: 1px solid red;
}