<section class="container">
    <div class="card box-shadow mt40 p40">
        <div class="card-body">
            <div class="row">
                <h1 class="col-11">Data 0</h1>
                <button type="button" class="btn btn-primary col-1">Primary</button>
            </div>

        <hr>
        <div class="row">
            <h2 class="col-12">Basic information</h2>
            <p class="col-12">Some basic information about catalog item</p>
        </div>
        <hr>
        <div>
            <form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputId" value="1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Value</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputValue" placeholder="Value">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">Valiant</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                Variant 1
                            </label>

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck2">
                            <label class="form-check-label" for="gridCheck2">
                                Variant 2
                            </label>

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck3">
                            <label class="form-check-label" for="gridCheck3">
                                Variant 3
                            </label>

                        </div>
                    </div>
                </div>
            </form>
        </div>
                </div>
    </div>
</section>