<table class="table-striped w-auto">
  <!-- <table>
  <thead>
    <tr>
      <th scope="col" class="col-1">ID</th>
      <th scope="col" class="col-1">Name</th>
      <th scope="col" class="col-8 col-sm-1">Value</th>
      <th scope="col" class="col-1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of contentData">
      <th scope="row"  class="bold text-black">{{ data.id }}</th>
      <td>        
        {{ data.name }}
      </td>
      <td>{{ data.value }}</td>
      <td><button type="button" class="btn btn-link">Go to details</button></td>
    </tr>
  </tbody>
</table> -->

  <!-- <table class="table-striped w-auto"> -->
  <thead>
    <tr>
      <th scope="col" class="col-1">ID</th>
      <th scope="col" class="col-1">Name</th>
      <th scope="col" class="col-8 col-sm-1">Value</th>
      <th scope="col" class="col-1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of contentData">
      <th scope="row" class="bold text-black">{{ data.id }}</th>
      <td>
        {{ data.name }}
      </td>
      <td>{{ data.value }}</td>
      <td><button type="button" class="btn btn-link">Go to details</button></td>
    </tr>
  </tbody>
</table>

<div class="flex-gap">
  <ngb-pagination class="pagination-container flex-gap" [collectionSize]="collectionSize" [(page)]="page"
    [pageSize]="pageSize" (pageChange)="refreshContentData()" [maxSize]="5" [rotate]="true" [ellipses]="true"
    [boundaryLinks]="false">
    <ng-template ngbPaginationPrevious class="fix-red">Prev</ng-template>
    <ng-template ngbPaginationNext class="fix-red">Next</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    <!-- <ngb-pagination class="test flex-gap" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
    (pageChange)="refreshContentData()">
  </ngb-pagination> -->
</div>