<div *ngIf="({
  contentData: data$ | async,
  pageSize: pageSize$ | async
}) as asyncData">
  <table class="table-striped w-auto" >
    <thead>
      <tr>
        <th scope="col" class="col-1">ID</th>
        <th scope="col" class="col-1">Name</th>
        <th scope="col" class="col-8 col-sm-1">Value</th>
        <th scope="col" class="col-1">Actions</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let data of asyncData.contentData">
        <th scope="row"  class="bold text-black">{{ data.id }}</th>
        <td>
          {{ data.name }}
        </td>
        <td>{{ data.value }}</td>
        <td><button type="button" class="btn btn-link" (click)="redirect(data.id)">Go to details</button></td>
      </tr>
    </tbody>
  </table>

  <div class="flex-gap">
    <app-paginator [page]="page" [pagesCount]="asyncData.pageSize || 0"
    (onPageChange)="fetchPage($event)"></app-paginator>
  </div>
</div>
